@import "styles/utils";

.card {
  background: #FFFFFF;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  max-width: 327px;
  overflow: hidden;

  @include media(">desktop") {
    min-width: 730px;
    min-height: 280px;
    display: grid;
    grid-template-areas:
            "header body"
            "header footer";
  }

  .header {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 327px;
    max-height: 200px;
    overflow: hidden;

    @include media(">desktop") {
      grid-area: header;
      width: 285px;
      max-height: 280px;
    }

    .background {
      width: 100%;
      object-fit: cover;
      object-position: center;

      @include media(">desktop") {
        object-position: left;
      }
    }
  }

  .body {
    display: grid;
    grid-gap: 12px;
    padding: 32px;

    @include media(">desktop") {
      grid-area: body;
      padding: 32px 40px 20px 40px;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #48556A;

      @include media(">desktop") {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.25px;
      }
    }

    .summary {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.121875px;
      color: #6E8098;
    }
  }

  .footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px 32px;

    @include media(">desktop") {
      grid-area: footer;
      padding: 0 40px 32px;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;
    }

    .content {
      flex: 1;

      .username {
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        color: #48556A;
      }

      .createdAt {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        color: #9DAEC2;
      }
    }

    .shareButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 0;
      background: #ECF2F8;
      border-radius: 50%;
      outline: none;
      cursor: pointer;

      svg {
        width: 15px;
        height: 13px;
      }
    }

    .share {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      background: #48556A;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 32px;
      transform: translateY(100%);
      transition: transform 0.3s;

      @include media(">desktop") {
        display: none;
        position: fixed;
        width: 248px;
        height: 55px;
        top: 48%;
        left: calc(50% + 70px);
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
        z-index: 2;

        &::before {
          position: absolute;
          bottom: -11px;
          content: '';

          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;

          border-top: 12px solid #48556A;
        }
      }

      &.open {
        transform: translateY(0);

        @include media(">desktop") {
          transform: translateX(50%);
          display: flex;
        }
      }

      .title {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 5px;
        color: #9DAEC2;
        margin-right: 21px;
      }

      .socialLinkContainer {
        flex: 1;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .socialLinkItem {
          margin-right: 16px;

          a {
            display: flex;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .shareButton {
        background: #6E8098;

        @include media(">desktop") {
          display: none;
        }

        svg path {
          fill: #FFFFFF;
        }
      }
    }
  }
}
